.sudoku-container{
	max-width: fit-content;

	margin: 1em auto;

	table.sudoku{
		border-collapse: collapse;
		border: 2px solid black;

		font-size: 2em;

		td {
			width: 2ch;
			height: 1.2ch;

			text-align: center;

			border: 1px solid gray;
			border-spacing: 0;

			padding: 0;
			margin: 0;

			&.empty{
				background-color: #00000010;
			}

			&:nth-child(3n):not(:last-child) {
				border-right: 2px solid black;
			}
		}

		textarea {
			display: block;

			width: inherit;
			height: calc(100% + 1px);

			overflow: hidden;

			text-align: center;
			vertical-align: middle;

			resize: none;
			border: none;

			font-weight: inherit;
			font-size: inherit;
			font-family: inherit;

			padding: 0;
			margin: 0;

			background-color: transparent;

			&.wrong {
				background-color: #ff999990;
			}

			&.correct {
				background-color: #99ff9990;
			}
		}

		tr:nth-child(3n):not(:last-child){
			border-bottom: 2px solid black;
		}
	}

	.buttons{
		display: flex;
		justify-content: space-between;

		margin-top: 1em;

		button{
			font-size: inherit;
		}
	}
}