.sudoku-container{
	max-width: fit-content;

	table.sudoku{
		border-collapse: collapse;
		border: 2px solid black;

		td {
			width: 2ch;
			height: 1.5ch;

			text-align: center;

			border: 1px solid gray;
			border-spacing: 0;

			&.empty{
				background-color: #00000010;
			}

			&:nth-child(3n):not(:last-child) {
				border-right: 2px solid black;
			}
		}

		textarea {
			width: auto;
			max-width: 2ch;

			height: auto;
			max-height: 2ch;

			overflow: hidden;

			text-align: center;
			vertical-align: middle;

			resize: none;
			border: none;

			font-weight: inherit;
			font-size: inherit;
			font-family: inherit;

			padding: 0;
			margin: 0;

			background-color: transparent;
		}

		tr:nth-child(3n):not(:last-child){
			border-bottom: 2px solid black;
		}
	}

	.buttons{
		display: flex;
		justify-content: space-between;

		margin-top: 1em;
	}
}