.sudoku-container{
	max-width: fit-content;

	margin: 1em auto;

	table.sudoku{
		border-collapse: collapse;
		border: 2px solid black;

		font-size: min(8vw, 8vh, 3rem);

		td {
			width: 2.25ch;
			height: 1.2ch;

			text-align: center;

			border: 1px solid gray;
			border-spacing: 0;

			padding: 0;
			margin: 0;

			&.empty{
				background-color: #00000010;
			}

			&:nth-child(3n):not(:last-child) {
				border-right: 2px solid black;
			}
		}

		textarea {
			display: block;

			width: inherit;
			height: calc(100% + 1px);

			overflow: hidden;

			text-align: center;

			resize: none;
			border: none;

			font-weight: inherit;
			font-size: inherit;
			font-family: inherit;

			padding: 0;
			margin: 0;

			background-color: transparent;

			.realtime{
				.wrong {
					background-color: #ff999990;
				}

				.correct {
					background-color: #99ff9990;
				}
			}
		}

		tr:nth-child(3n):not(:last-child){
			border-bottom: 2px solid black;
		}
	}

	.buttons{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin-top: 1em;

		button{
			font-size: inherit;

			padding: 0.5em;
			margin: 0;
		}

		& > * {
			flex: 1 1 33%;
		}

		& > .spacer {
			flex-basis: 5%;
		}
	}
}